@define-color fg #e6d8ba;
@define-color bg #202020;
@define-color bg_active #454545;

@define-color fg_active #ffffff;
@define-color fg_inverse #000000;

@define-color accent #178b76;
@define-color danger #a55555;

@define-color warning #ff9b71;
@define-color critical #f53c3c;

* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 13px;
}

window#waybar {
    background-color: rgba(20, 20, 20, 0.5);
    color: @fg;
}

#workspaces {
    border-radius: 0px;
}

#workspaces button {
    padding: 0 3px;
    background: transparent;
    color: @fg;
    transition: 0.15s ease-in-out;
    border-radius: 0px;
    transition: none;
}

#workspaces button:hover {
    background: transparent;
    border: 1px solid transparent;
    box-shadow: unset;
    margin: unset;
}

#workspaces button.active {
    background-color: @fg;
    color: @fg_inverse;
}

#workspaces button.empty {
    color: alpha(@fg, 0.4);
    opacity: 0.85;
    transition: all 0.15s ease-in-out;
}

#workspaces button.empty.active {
    background-color: @fg;
    color: @fg_inverse;
}

#window {
    padding-left: 10px;
}

#clock,
#battery,
#cpu,
#memory,
#mpris,
#network,
#pulseaudio,
#idle_inhibitor,
#power-profiles-daemon,
#tray,
#bluetooth,
#backlight,
#disk,
#custom-notification {
    padding: 0 10px;
    color: @fg;
}

#mpris {
    background-color: @fg;
    color: @fg_inverse;
}

#battery.charging,
#battery.plugged {
    color: @fg;
}

@keyframes blink {
    to {
        background-color: @fg;
        color: @fg_inverse;
    }
}

#battery.critical:not(.charging) {
    background-color: @critical;
    color: @fg;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon.performance {
    background-color: @warning;
    color: @fg_inverse;
}

#network.disconnected {
    background-color: @warning;
    color: @fg_inverse;
}

#bluetooth.disabled {
    background-color: @warning;
    color: @fg_inverse;
}

#pulseaudio.muted {
    background-color: @warning;
    color: @fg_inverse;
}

tooltip {
    padding: 4px;
    background: @bg;
    border: 1px solid alpha(@fg, 0.8);
    box-shadow: 1px 1px 3px 1px #131313;
}

tooltip label {
    color: @fg;
    font-weight: normal;
}
